<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "Wikinimous", articles_path, class:"navbar-brand" %>
      <%= link_to "Create new article", articles_new_path, class:"btn btn-outline-success my-2 my-sm-0"%>
    
    </nav>

    <%= yield %>
  </body>
</html>
